In [10]:
l=5
b=4
area=l*b
perimeter=2*(l+b)
if(area<perimeter):
    print("area is smaller than perimeter")
else:
    print("area is greater than perimeter")

area is greater than perimeter

In [29]:
x1,y1 = eval(input("enter x1 and y1"))
x2,y2 = eval(input("enter x2 and y2"))
x3,y3 = eval(input("enter x3 and y3"))
m=(y2-y1)/(x2-x1)
print("The value of slope is : ",m)
c=(y1-m*x1)
print(" the value of c is",c)
temp=m*x3+c
print("the vlue of y is: ",temp)
if(y3==temp):
    print("line is on the same slope")
else:
    print("line is not on the same slope")

enter x1 and y1 1,5
enter x2 and y2 5,5
enter x3 and y3 10,5

The value of slope is :  0.0
 the value of c is 5.0
the vlue of y is:  5.0
line is on the same slope

In [30]:
import math
input("enter the value of x")
input("enter the value of y")
input("enter the value of r")
temp=math.sqrt(pow(x)+pow(y)-pow(r))
if(temp==0):
    print("the point is on the circle")
elif(temp<1):
    print("the point is inside the circle")
else:
    print("the point is outside the circle")

enter the value of x 10
enter the value of y 5
enter the value of r 3

NameError: name 'x' is not defined

In [4]:
str = """ this 
is 
nultiline
string"""
print(str)
my_tuple = ("""mouse
is  also
multiline""", [8, 4, 6], (1, 2, 3)) 
print (my_tuple)

 this
is
nultiline
string
('mouse\nis  also\nmultiline', [8, 4, 6], (1, 2, 3))

In [6]:
my_tuple = ('T', 'h', 'a', 'p', 'a', 'r', ) 
print(my_tuple[7])

IndexError: tuple index out of range

In [12]:
str = "hello"
str[0]="p"
print(str)
my_tuple=(23,[1,2,3],"hello")
my_tuple[1][0]=20
#my_tuple[2][0]="P"
print(my_tuple)

TypeError: 'str' object does not support item assignment

In [19]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x=so(thistuple)
print(x)

[1, 3, 4, 5, 5, 6, 7, 7, 8, 8]

In [24]:
tpl = (12, 15, 13, 23, 22, 16, 17)
print(tuple(sorted(tpl)))
print(tuple(reversed(tpl)))
print(tpl)

(12, 13, 15, 16, 17, 22, 23)
(17, 16, 22, 23, 13, 15, 12)
(12, 15, 13, 23, 22, 16, 17)

In [25]:
records = ( ('Priyanka', 24, 3455.50), ('Shailesh', 25), ('Subhash', 25, 4505.50), ('Sugandh', 27, 4455.55) ) 
for n, a, s in records :
    print(n,a,s)

Priyanka 24 3455.5

ValueError: not enough values to unpack (expected 3, got 2)

In [40]:
x=('F', 'l', 'a', 'b', 'b', 'e', 'r', 'g', 'a', 's', 't', 'e', 'd')
x = x + ("!",)


print(x[3:5])
print(x.count("e"))
print("r" in x)
x = list(x)
print(x)
x[3:7] = ()
print(x)

('b', 'b')
2
True
['F', 'l', 'a', 'b', 'b', 'e', 'r', 'g', 'a', 's', 't', 'e', 'd', '!']
['F', 'l', 'a', 'g', 'a', 's', 't', 'e', 'd', '!']

In [44]:
tpl = (10, 20, 30, 40, 50)
for index, n in enumerate(tpl) :
    print(index, n)

0 10
1 20
2 30
3 40
4 50

In [55]:
tpl = (10, 20, 30, 40, 50, 60, 70, 8, 900, 100)
t = tpl[::-1] 
print(t)
'''a, b, c, d, e, f, g, h, i, j = tpl
print(tpl)
print(a, b, c, d, e, f, g, h, i, j)
x, _, _, _, _, _, _, _, _, y = tpl
print(x, y, _)
i, *_, j = tpl
print(i, j, _)'''

(100, 900, 8, 70, 60, 50, 40, 30, 20, 10)

'a, b, c, d, e, f, g, h, i, j = tpl\nprint(tpl)\nprint(a, b, c, d, e, f, g, h, i, j)\nx, _, _, _, _, _, _, _, _, y = tpl\nprint(x, y, _)\ni, *_, j = tpl\nprint(i, j, _)'

In [52]:
lst = [('A101', 'Shubha', 23), ('A104', 'Nisha', 25), ('A111', 'Sudha', 24)]
nlst = [ ]
for ele in lst:
    nlst = nlst + [ele[1]]
print(nlst)

['Shubha', 'Nisha', 'Sudha']

In [54]:
import operator
lst=[('sugar', 10.5) , ('apple',12.5)]
lst=sorted(lst,key= operator.itemgetter(1) ,reverse=True)
print (lst)

[('apple', 12.5), ('sugar', 10.5)]

In [56]:
a = ()
print(type(a))

<class 'tuple'>

In [80]:
s = {}
t = {25, 23,  55}
newS = s
print(len(newS)==0)
print(all(t))

True
True

In [81]:
engineers = {'Vijay', 'Sanjay', 'Ajay', 'Sujay', 'Dinesh'}
managers = {'Aditya', 'Sanjay'}

print(managers ^ engineers)

{'Vijay', 'Sujay', 'Ajay', 'Dinesh', 'Aditya'}

In [88]:
courses = {'DAA' : 'CS', 'AOA' : 'ME', 'SVY' : 'CE' }
# iterate over key-value pairs
for k in courses :
    print(k)

DAA
AOA
SVY

In [92]:
courses = {'DAA' : 'CS', 'AOA' : 'ME', 'SVY' : 'CE' }
for i, k, v in enumerate(courses.items( )) :
    print(i,k, v)

ValueError: not enough values to unpack (expected 3, got 2)

In [99]:
courses = { 'CS101' : 'CPP', 'CS102' : 'DS', 'CS201' : 'OOP'}
d = { (1, 5) : 'ME126', (3, 2) : 'ME102', (5, 4) : 'ME234'}
for k, v in d.items():
    print(k,v)

(1, 5) ME126
(3, 2) ME102
(5, 4) ME234

In [105]:
contacts = {
'Anil': {'DOB' : '17/11/98', 'Favorite' : 'Igloo'},
'Amol': {'DOB' : '14/10/99', 'Favorite' : 'Tundra'},
'Ravi': {'DOB' : '19/11/97', 'Favorite' : 'Artic'}
}
for k,v in contacts.items():
    print(k)
    for i, j in v.items():
        print("\t",i, j)

Anil
	 DOB 17/11/98
	 Favorite Igloo
Amol
	 DOB 14/10/99
	 Favorite Tundra
Ravi
	 DOB 19/11/97
	 Favorite Artic

In [111]:
lst = [12, 13, 14, 15, 16]
lst1 = [25, 26, 27, 28, 29]
d = dict.fromkeys(lst, lst1)
print(d)

{12: [25, 26, 27, 28, 29], 13: [25, 26, 27, 28, 29], 14: [25, 26, 27, 28, 29], 15: [25, 26, 27, 28, 29], 16: [25, 26, 27, 28, 29]}

In [2]:
thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964}
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [4]:
d1={1:"ram",2:"oil",3:"aloo"}
d=sorted(d1.items())
print(d)

[(1, 'ram'), (2, 'oil'), (3, 'aloo')]