In [1]:
temp=float(input("enter temperature in farenheit"))
celsius= (temp-32)*5/9
print(f"{temp} in Fahrenheit is equal to {celsius} in Celsius")

enter temperature in farenheit 47

47.0 in Fahrenheit is equal to 8.333333333333334 in Celsius

In [1]:
for i in range(1, 4):
    for j in range(1, 4):
        for k in range(1, 4):
            if( i == j or j == k or k == i):
                k = k + 1
                continue
            else:
                print(i, j, k)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [6]:
lst=['A', 'B', 'C', 'D', 'E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
for i in reversed(range(len(lst))):
    print(lst[i].lower())

z
y
x
w
v
u
t
s
r
q
p
o
n
m
l
k
j
i
h
g
f
e
d
c
b
a

In [8]:
a = 20
print("This is printing:", a)

This is printing: 20

In [1]:
oddLst = [3, 5, 7, 9, 11]
evenLst = [2, 4, 6, 8]
oddLst = oddLst[0:2] + evenLst + oddLst[3:]
print(oddLst)

[3, 5, 2, 4, 6, 8, 9, 11]

In [2]:
lst = [1, 3, 9, 13, 17]
lst[2] = [2, 8, 12, 16]
print(lst

[1, 3, [2, 8, 12, 16], 13, 17]

In [10]:
import random, math
lst= []
for i in range(20):
    lst.append(math.floor(10*random.random()))
print(lst)
key = int(input("Enter a number between 0 - 9: "))
indexList = []
for i, val in enumerate(lst):
    if val == key:
        indexList.append(i)
print(indexList)

[6, 2, 9, 0, 4, 9, 2, 0, 6, 8, 1, 9, 7, 7, 0, 8, 0, 6, 8, 9]

Enter a number between 0 - 9:  9

[2, 5, 11, 19]

In [12]:
t = [(), (1, 2), (), (3, 4)]
lst1 = []
for i in t:
    if len(i) != 0:
        lst1.append(i)
print(lst1)

[(1, 2), (3, 4)]

In [15]:
lstNames = ['Abhi', 'Palak']
lstRollNo = [202301002, 202301041]
lstMarks = [50, 50]

lstStu = [tuple(lstNames), tuple(lstRollNo), tuple(lstMarks)]

tplNames = lstStu[0]
tplRollNo = lstStu[1]
tplMarks = lstStu[2]

print(tplNames)
print(tplRollNo)
print(tplMarks)

('Abhi', 'Palak')
(202301002, 202301041)
(50, 50)

In [17]:
dict1 = { 'oil': 100, 'beans': 80 }
dict2 = { 'oil': 3, 'beans': 2 }
total = 0
for i in dict1:
    total += dict1[i]*dict2[i]

print(total)

460

In [30]:
s = set()
s.add("abhi")
s.add("palak")
item = s.pop()
item += " Mittal"
s.add(item)
print(item)

print(s)

palak Mittal
{'palak Mittal', 'abhi'}