In [3]:
my_list = list()
print((my_list))

[]

In [14]:
my_list=['hello',[6,7,9],"hi"]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[-1][-1])

hello
[6, 7, 9]
hi
i

In [17]:
odd = [1, 3, 5] 
odd.append([7, 5, 7])
print(odd)

[1, 3, 5, [7, 5, 7]]

In [18]:
odd = [2, 4, 6, 8]
# replacing all items from index 1 to 3 with new items
odd[1:4] = [3, 5, 7,9]
print(odd)

[2, 3, 5, 7, 9]

In [24]:
odd = [1, 9]
odd[3:2]=(9,8,7,6) # 1 is index and 3 is item
print(odd)

[1, 9, 9, 8, 7, 6]

In [26]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm'] 
del my_list[1:5]
print(my_list)

['p', 'e', 'm']

In [30]:
my_list = ['p','r','o','b','l','e','m']
print(my_list.pop())
print(my_list)

m
['p', 'r', 'o', 'b', 'l', 'e']

In [31]:
my_list = ['p','r','o','b','l','e','m']
data = my_list.pop(my_list.index('l'))
print(data)
print(my_list)

l
['p', 'r', 'o', 'b', 'e', 'm']

In [35]:
my_list = ['p','r','o','b','l','e','m']
my_list1= my_list.copy()
print(my_list1)
print(my_list)
my_list.count('b')

['p', 'r', 'o', 'b', 'l', 'e', 'm']
['p', 'r', 'o', 'b', 'l', 'e', 'm']

1

In [41]:
lst1=[1,4,6]
print(lst1[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1830634617.py, line 2)

In [43]:
a = [1, 3, 5, 7, 9]
b = [2, 4, 6, 8, 10]
c = [a, b]
print(c)

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [2]:
# statement 1
list1 = range(100, 110) 
 
# statement 2
print (list1.index(105))

5

In [1]:
num = int(input('Enter a number: '))
while num != 5 :
    print(num, num * num)
num = int(input('Enter a number: '))

Enter a number:  5
Enter a number:  5

In [4]:
count = 0
while count < 10 :
    print(count, count * count, count * count * count)
    count += 1

0 0 0
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729

In [5]:
s = 'Mumbai'
lst = ['desert', 'dessert', 'to', 'too', 'lose', 'loose']
tpl = (10, 20, 30, -20, -10)
i = 0
while i < len(lst) :
    print(i, s[i], lst[i], tpl[i])
    i += 1

0 M desert 10
1 u dessert 20
2 m to 30
3 b too -20
4 a lose -10

IndexError: tuple index out of range

In [7]:
for i in range(1, 10, 2) :
    print(i, i * i, i * i * i)

1 1 1
3 9 27
5 25 125
7 49 343
9 81 729

In [8]:
for char in 'Leopard' :
    print(char)
for animal in ['Cat', 'Dog', 'Tiger', 'Lion', 'Leopard'] :
    print(animal)
for flower in ('Rose', 'Lily', 'Jasmine') :
    print(flower)
for num in {10, 20, 30, -10, -25} :
    print(num)
for key in {'A101' : 'Rajesh', 'A111' : 'Sunil', 'A112' : 'Rakesh'} :
    print(key)

L
e
o
p
a
r
d
Cat
Dog
Tiger
Lion
Leopard
Rose
Lily
Jasmine
-25
10
20
-10
30
A101
A111
A112

In [18]:
import operator
records = ( ['Abhi', 19, '25-12-2001'], ['Palak', 20, '23-05-2003'] );
print(sorted(records, key = operator.itemgetter(0)))
for a, b, c in records :
    print(a, b, c)

[['Abhi', 19, '25-12-2001'], ['Palak', 20, '23-05-2003']]
Abhi 19 25-12-2001
Palak 20 23-05-2003

In [24]:
tpl = ('F', 'l', 'a', 'b', 'b')
#tpl = tpl + ('!',)
tpl = tpl[:2] + tpl[3:]
print(tpl)

('F', 'l', 'b', 'b')